<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="2517MariuszRokicki.NoughtsAndCorsses" Publisher="CN=19754750-5058-4D1E-952B-EDDF93316C01" Version="1.0.1.2" />
  <Properties>
    <DisplayName>Noughts And Corsses</DisplayName>
    <PublisherDisplayName>Mariusz Rokicki</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="NoughtsAndCorsses.App">
      <VisualElements DisplayName="Noughts And Corsses" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="NoughtsAndCorsses" ForegroundText="light" BackgroundColor="#387BBD">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#387BBD" />
      </VisualElements>
    </Application>
  </Applications>
</Package>